filebeat.inputs:
- type: log
  enabled: true
  paths:
  - /sdata/app/gitAnalysis/results/analysisResults.txt
  fields:
    log_source: opd-gitAnalysis-01
    log_topics: opdData01
  tags: ["alihn1","opd","gitAnalysis"]

output.kafka:
  hosts: ["alihn1-opd-elk-01:9092"]
  topic: '%{[fields][log_topics]}'
  partition.round_robin:
    reachable_only: false
  required_acks: 1
  compression: gzip
  max_message_bytes: 1000000
